%ul#sidebar-nav-1.list-group.sidebar-nav-v1.margin-bottom-40
  %li.list-group-item{class: params[:action] == 'index' ? 'active' : ''}
    = link_to user_dashboard_path do
      %i.fa.fa-user
      Profile
  %li.list-group-item{class: params[:action] == 'subscriptions' ? 'active' : ''}
    = link_to user_dashboard_subscriptions_path do
      %i.fa.fa-user-plus
      Subscriptions
  %li.list-group-item{class: params[:action] == 'stream_keys' ? 'active' : ''}
    = link_to user_dashboard_stream_keys_path do
      %i.fa.fa-key
      Stream Keys
  %li.list-group-item{class: params[:action] == 'statistics' ? 'active' : ''}
    = link_to user_dashboard_statistics_path do
      %i.fa.fa-bar-chart-o
      Statistics
  %li.list-group-item{class: params[:action] == 'private_sessions' ? 'active' : ''}
    = link_to user_dashboard_private_sessions_path do
      %i.fa.fa-users
      Private Sessions
  %li.list-group-item{class: params[:action] == 'chat_management' ? 'active' : ''}
    = link_to user_dashboard_chat_management_path do
      %i.fa.fa-comments-o
      Channel Management
