= render partial: 'shared/breadcrumbs', locals: {page_name: 'Profile'}
.container.content.dashboard
  .row
    .col-md-3.md-margin-bottom-40
      = render partial: 'dashboard/portrait'
      = render partial: 'dashboard/navigation'
    .col-md-9
      .dashboard-body.margin-bottom-20
        .tab-v1
          .tab-content
            #new-private-session-tab.dashboard-edit.tab-pane.fade.in.active
              %h2.heading-md Edit Private Session
              %p Change the information below to edit your private session.
              %br
                = form_tag(user_dashboard_private_sessions_update_path(private_session.token), {id: 'sky-form4', class: 'sky-form'}) do
                  %dl.dl-horizontal
                    %dt Title
                    %dd
                      %section
                        %label.input
                          %i.icon-append.fa.fa-font
                          %input{:name => "private_session[title]", :placeholder => "Title", :type => "text", value: private_session.title}
                            %b.tooltip.tooltip-bottom-right The title for your private session
                    %dt Live date
                    %dd.with-col
                      %section.col.col-3.day
                        %label.select
                          %select{:name => "private_session[live_at_day]"}
                            %option{value: '0', disabled: true} Day
                            - (1..31).each do |day|
                              %option{value: day, selected: (day == private_session.live_at.day)}= day.to_i.ordinalize
                          %i
                      %section.col.col-3.month
                        %label.select
                          %select{:name => "private_session[live_at_month]"}
                            %option{value: '0', disabled: true} Month
                            - (1..12).each do |month|
                              %option{value: month, selected: (month == private_session.live_at.month)}= Date::MONTHNAMES[month]
                          %i
                      %section.col.col-3.year
                        %label.select
                          %select{:name => "private_session[live_at_year]"}
                            %option{value: '0', disabled: true} Year
                            - [DateTime.now.year, DateTime.now.year+1].each do |year|
                              %option{value: year, selected: (year == private_session.live_at.year)}= year
                          %i
                      %section.col.col-3.hour
                        %label.select
                          %select{:name => "private_session[live_at_hour]"}
                            %option{value: '0', disabled: true} Hour
                            - (0..23).each do |hour|
                              %option{value: hour, selected: (hour == private_session.live_at.hour)}= sprintf '%02d', hour
                          %i
                      %section.col.col-3.minute
                        %label.select
                          %select{:name => "private_session[live_at_minute]"}
                            %option{value: '0', disabled: true} Minute
                            - (0..59).each do |minute|
                              %option{value: minute, selected: (minute == private_session.live_at.min)}= sprintf '%02d', minute
                          %i
                      %section.col.col-6.minute
                        %label.select
                          %select{:name => "private_session[live_at_tz]"}
                            %option{value: '0', selected: false, disabled: true} Timezone
                            - ActiveSupport::TimeZone.all.each do |tz|
                              %option{value: tz, selected: tz.to_s == private_session.timezone}= tz
                          %i
                    %dt Max participants
                    %dd.with-col
                      %section.col.col-3
                        %label.input
                          %i.icon-append.fa.fa-users
                          %input{:name => "private_session[max_participants]", :placeholder => "Unlimited: 0", :type => "text", value: private_session.max_participants}
                            %b.tooltip.tooltip-bottom-right Unlimited: 0
                    %dt Price
                    %dd.with-col
                      %section.col.col-3
                        %label.input
                          %i.icon-append.fa.fa-dollar
                          %input{:name => "private_session[price]", :placeholder => "Free: 0", :type => "text", value: private_session.price}
                            %b.tooltip.tooltip-bottom-right Leave at 0 for Free
                    %dt.margin-bottom-20 Description
                    %dd &nbsp;
                    %dd{style: 'margin-left: 0;'}
                      %section
                        %textarea{class: 'form-control tinymce', id: 'private-session-description', name: 'private_session[description]', rows: '15'}= private_session.description
                        = tinymce
                  %br
                    %button.btn-u.btn-u-default{:href => user_dashboard_private_sessions_path} Cancel
                    %button.btn-u{:type => "submit"} Update
