#edit-channel
  = form_tag(controller: :dashboard , action: :edit_channel) do
    .row
      .col-md-8
        .form-group.form-group-lg
          %label.sr-only{for: 'channel_title'}= channel.title
          %input{type: 'text', class: 'form-control', id: 'channel_title', placeholder: channel.title}
      .col-md-4#channel-stats
        = render partial: 'shared/channel_stats', locals: {total_viewers: '1,000,000', current_viewers: '1,000', likes: '1,234,567'}
    .row#channel-interactive
      .col-xs-12.col-sm-6.col-md-8
        .preview.lead Stream Preview
      .col-xs-6.col-md-4
        .preview.lead Chat Preview
    .row
      .col-md-12
        %h3 Description
        %textarea{class: 'form-control', rows: '15'}= channel.description
    .row#channel-save
      .col-md-12
        = button_tag(type: 'submit', class: "btn btn-lg btn-primary") do
          Save

