/ === Profile ===
.container.content.dashboard
  .row
    / Left Sidebar
    .col-md-3.md-margin-bottom-40
      %img.img-responsive.dashboard-img.margin-bottom-20{:alt => "", :src => current_user.gravatar_url}
        %ul#sidebar-nav-1.list-group.sidebar-nav-v1.margin-bottom-40
          %li.list-group-item
            %a{:href => "page_profile.html"}
              %i.fa.fa-bar-chart-o
              Overall
          %li.list-group-item
            %a{:href => "page_profile_me.html"}
              %i.fa.fa-user
              Profile
          %li.list-group-item
            %a{:href => "page_profile_users.html"}
              %i.fa.fa-group
              Users
          %li.list-group-item
            %a{:href => "page_profile_projects.html"}
              %i.fa.fa-cubes
              My Projects
          %li.list-group-item
            %a{:href => "page_profile_comments.html"}
              %i.fa.fa-comments
              Comments
          %li.list-group-item
            %a{:href => "page_profile_history.html"}
              %i.fa.fa-history
              History
          %li.list-group-item.active
            %a{:href => "page_profile_settings.html"}
              %i.fa.fa-cog
              Settings
    .col-md-9
      .dashboard-body.margin-bottom-20
        .tab-v1
          %ul.nav.nav-justified.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#profile-tab"} Edit Profile
            %li
              %a{"data-toggle" => "tab", :href => "#settings-tab"} Settings
            %li
              %a{"data-toggle" => "tab", :href => "#security-tab"} Security
            %li
              %a{"data-toggle" => "tab", :href => "#vod-tab"} VoD
            %li
              %a{"data-toggle" => "tab", :href => "#stream-key-tab"} Stream Key
          .tab-content
            #profile-tab.dashboard-edit.tab-pane.fade.in.active
              %h2.heading-md Manage your Name, ID and Email Addresses.
              %p Below are the name and email addresses on file for your account.
              %br
                = form_tag({controller: :dashboard, action: :update_user}, {id: 'sky-form4', class: 'sky-form'}) do
                  %dl.dl-horizontal
                    %dt Username
                    %dd
                      %section
                        %label.input
                          %i.icon-append.fa.fa-user
                          %input{:name => "user[username]", :placeholder => "Username", :type => "text", :value => current_user.username}
                            %b.tooltip.tooltip-bottom-right Needed to enter the website
                    %dt Email address
                    %dd
                      %section
                        %label.input
                          %i.icon-append.fa.fa-envelope
                          %input{:name => "user[username]", :placeholder => "Email address", :type => "text", :value => current_user.email}
                            %b.tooltip.tooltip-bottom-right Needed to verify your account
                  %br
                    %button.btn-u.btn-u-default{:type => "button"} Cancel
                    %button.btn-u{:type => "submit"} Save Changes
            #settings-tab.dashboard-edit.tab-pane.fade
              %h2.heading-md Manage your Account Settings
              %p Bellow you can change your account related settings.
              %br
                = form_tag({controller: :dashboard, action: :update_settings}, {id: 'sky-form3', class: 'sky-form'}) do
                  %label.toggle
                    %input{:checked => "", :name => "user[can_record]", :type => "checkbox"}
                      %i>
                      Video on Demand active
                  %hr
                  %br
                    %button.btn-u.btn-u-default{:type => "button"} Cancel
                    %button.btn-u{:type => "submit"} Save Changes
            #security-tab.dashboard-edit.tab-pane.fade
              %h2.heading-md Manage your Security Settings
              %p Bellow you can change your security related settings.
              %br
                = form_tag({controller: :dashboard, action: :update_user}, {id: 'sky-form4', class: 'sky-form'}) do
                  %dl.dl-horizontal
                    %dt Current Password
                    %dd
                      %section
                        %label.input
                          %i.icon-append.fa.fa-lock
                          %input{:name => "user[current_password]", :type => "password", placeholder: 'Your old password here'}
                    %dt New Password
                    %dd
                      %section
                        %label.input
                          %i.icon-append.fa.fa-lock
                          %input{:name => "user[password]", :type => "password", placeholder: 'Your new password here'}
                    %dt Confirm New Password
                    %dd
                      %section
                        %label.input
                          %i.icon-append.fa.fa-lock
                          %input{:name => "user[password_confirmation]", :type => "password", placeholder: 'Confirm your new one, just to be sure :)'}
                  %br
                    %button.btn-u.btn-u-default{:type => "button"} Cancel
                    %button.btn-u{:type => "submit"} Save Changes
            / End Checkout-Form
            #vod-tab.dashboard-edit.tab-pane.fade
              %h2.heading-md Manage your Video on Demand.
              %p Bellow you can manage your videos on demand.
              %br
                - current_user.recordings.order_by(created_at: :desc).each do |recording|
                  .media
                    .media-left
                      %a{href: show_vod_path(recording.user.username, recording.id)}
                        = image_tag "https://codewatch-tv.s3-eu-west-1.amazonaws.com/recording-thumbnails/#{recording.name.gsub('.flv', '')}.png", height: 72
                    .media-body
                      %h4.media-heading= recording.title
                      %h5 Created at #{recording.created_at}
                      %p
                        .fa.fa-eye
                          = recording.views
                    .media-right
                      .btn-group
                        %button{type: 'button', class: 'btn btn-default dropdown-toggle', 'data-toggle' => 'dropdown', 'aria-expanded' => 'false'}
                          %span.caret
                        %ul.dropdown-menu{'data-role' => 'menu'}
                          %li
                            = link_to 'Remove', delete_vod_path(recording.id)
                          - if recording.is_visible?
                            %li
                              = link_to 'Hide', toggle_vod_visibility_path(recording.id)
                          -else
                            %li
                              = link_to 'Make visible', toggle_vod_visibility_path(recording.id)
            #stream-key-tab.dashboard-edit.tab-pane.fade
              %h2.heading-md Your Stream Key
              %p Bellow you can manage your stream key.
              %br
                %dl.dl-horizontal
                  %dt
                    %strong Current Stream Key
                  %dd
                    %span#stream-key.label.label-u= "#{current_user.username}?stream_key=#{current_user.stream_key}"
                    %span
                      %a.margin-left-10.pull-right{:href => "#"}
                        %i.fa.fa-recycle
                      %a.pull-right{:href => "#"}
                        %i.fa.fa-copy

-#.row#dashboard
-#  .col-md-6.col-md-offset-3
-#    %h1 Hi #{current_user.username}, Welcome to your dashboard!
-#
-#    #tabs-panel{:role => "tabpanel"}
-#      %ul.nav.nav-pills{:role => "tablist"}
-#        %li.active{:role => "presentation"}
-#          %a{"aria-controls" => "home-tab", "data-toggle" => "pill", :href => "#home-tab", :role => "tab"} My Details
-#        %li{:role => "presentation"}
-#          %a{"aria-controls" => "settings-tab", "data-toggle" => "pill", :href => "#settings-tab", :role => "tab"} Settings
-#        %li{:role => "presentation"}
-#          %a{"aria-controls" => "password-tab", "data-toggle" => "pill", :href => "#password-tab", :role => "tab"} Password
-#        %li{:role => "presentation"}
-#          %a{"aria-controls" => "vod-tab", "data-toggle" => "pill", :href => "#vod-tab", :role => "tab"} VoD
-#        %li{:role => "presentation"}
-#          %a{"aria-controls" => "stream_key-tab", "data-toggle" => "pill", :href => "#stream_key-tab", :role => "tab"} Stream Key
-#      .tab-content
-#        #home-tab.tab-pane.active{:role => 'tabpanel'}
-#          .panel.panel-default
-#            .panel-body
-#              .h3 Your details
-#
-#              = form_tag({controller: :dashboard, action: :update_user}, {:class => 'form-horizontal'}) do
-#                .form-group
-#                  %label.col-sm-2.control-label{:for => "inputUsername"} Username
-#                  .col-sm-10
-#                    %input#inputUsername.form-control{type: "text", name: "user[username]", value: current_user.username}
-#                .form-group
-#                  %label.col-sm-2.control-label{:for => "inputEmail"} Email
-#                  .col-sm-10
-#                    %input#inputEmail.form-control{type: "email", name: "user[email]", value: current_user.email}
-#                .form-group
-#                  .col-sm-offset-2.col-sm-10
-#                    %button.btn.btn-default{:type => "submit"} Update
-#        #settings-tab.tab-pane{:role => 'tabpanel'}
-#          .panel.panel-default
-#            .panel-body
-#              .h3 Settings
-#
-#              = form_tag({controller: :dashboard, action: :update_settings}, {:class => 'form-horizontal'}) do
-#                .form-group
-#                  %label.col-sm-2.control-label{:for => "inputCanRecord"} VoD active
-#                  .col-sm-10
-#                    .checkbox
-#                      - if current_user.can_record?
-#                        %input#inputCanRecord{type: "checkbox", name: "user[can_record]", value: 1, checked: 'checked'}
-#                      - else
-#                        %input#inputCanRecord{type: "checkbox", name: "user[can_record]", value: 0}
-#                      %i
-#                        By clicking here, if you have a
-#                        %u premium account
-#                        , all your streams will be recorded as video on demand.
-#                .form-group
-#                  .col-sm-offset-2.col-sm-10
-#                    %button.btn.btn-default{:type => "submit"} Update
-#        #vod-tab.tab-pane{:role => 'tabpanel'}
-#          .panel.panel-default
-#            .panel-body
-#              .h3 Video on Demand
-#
-#              - current_user.recordings.order_by(created_at: :desc).each do |recording|
-#                .media
-#                  .media-left
-#                    %a{href: show_vod_path(recording.user.username, recording.id)}
-#                      = image_tag "https://codewatch-tv.s3-eu-west-1.amazonaws.com/recording-thumbnails/#{recording.name.gsub('.flv', '')}.png", height: 72
-#                  .media-body
-#                    %h4.media-heading= recording.title
-#                    %h5 Created at #{recording.created_at}
-#                    %p
-#                      .fa.fa-eye
-#                        = recording.views
-#                  .media-right
-#                    .btn-group
-#                      %button{type: 'button', class: 'btn btn-default dropdown-toggle', 'data-toggle' => 'dropdown', 'aria-expanded' => 'false'}
-#                        %span.caret
-#                      %ul.dropdown-menu{'data-role' => 'menu'}
-#                        %li
-#                          = link_to 'Remove', delete_vod_path(recording.id)
-#                        - if recording.is_visible?
-#                          %li
-#                            = link_to 'Hide', toggle_vod_visibility_path(recording.id)
-#                        -else
-#                          %li
-#                            = link_to 'Make visible', toggle_vod_visibility_path(recording.id)
-#        #password-tab.tab-pane{role: 'tabpanel'}
-#          .panel.panel-default
-#            .panel-body
-#              .h3 Change password
-#
-#              = form_tag({controller: :dashboard, action: :update_password}, {:class => 'form-horizontal'}) do
-#                .form-group
-#                  %label.col-sm-2.control-label{:for => "inputCurrentPassword"} Current Password
-#                  .col-sm-10
-#                    %input#inputCurrentPassword.form-control{:type => "password", name: "user[current_password]"}
-#                .form-group
-#                  %label.col-sm-2.control-label{:for => "inputNewPassword"} New Password
-#                  .col-sm-10
-#                    %input#inputNewPassword.form-control{:type => "password", name: "user[password]"}
-#                .form-group
-#                  %label.col-sm-2.control-label{:for => "inputConfirmNewPassword"} Confirm New Password
-#                  .col-sm-10
-#                    %input#inputConfirmNewPassword.form-control{:type => "password", name: "user[password_confirmation]"}
-#                .form-group
-#                  .col-sm-offset-2.col-sm-10
-#                    %button.btn.btn-default{:type => "submit"} Change
-#        #stream_key-tab.tab-pane{:role => "tabpanel"}
-#          .panel.panel-default
-#            .panel-body
-#              .h3 Current Stream Key
-#
-#              .lead.text-center= "#{current_user.username}?stream_key=#{current_user.stream_key}"
-#
-#

