- if recordings.empty?
  .row
    .col-md-12.text-center
      .lead#welcome No Video on Demand found for this user.
- else
  .container.content
    .row
      .col-md-12
        %ul.vod-timeline
          - recordings.each do |recording|
            %li
              %time.cbp_tmtime{:datetime => ""}
                %span= recording.created_at.strftime('%A, %e at %H:%M')
                %span= recording.created_at.strftime('%B %Y')
              %i.cbp_tmicon.rounded-x.hidden-xs
              .cbp_tmlabel
                %h2= recording.title
                .row
                  .col-md-12.text-center
                    %a{href: show_vod_path(recording.user.username, recording.id)}
                      = image_tag "https://codewatch-tv.s3-eu-west-1.amazonaws.com/recording-thumbnails/#{recording.name.gsub('.flv', '')}.png"
