- if recordings.empty?
  .row
    .col-md-12.text-center
      .lead#welcome No Video on Demand found for this user.
- else
  - recordings.reverse.each_slice(6).to_a.each do |recordings_slice|
    .row
      - recordings_slice.each do |recording|
        .col-md-2
          .recording-thumbnail
            %a{href: show_vod_path(recording.user.username, recording.id), class: 'thumbnail'}
              = image_tag "https://codewatch-tv.s3-eu-west-1.amazonaws.com/recording-thumbnails/#{recording.name.gsub('.flv', '')}.png"
              .caption
                %h5= truncate(recording.title, length: 41)
                .text-right
                  %p
                    = "#{recording.created_at}"
