- unless recordings.empty?
  - slice_size = (recordings.size >= 5 ? recordings.size / 5 : recordings.size)
  - recordings.each_slice(slice_size).to_a.each do |recordings_slice|
    .row
      - recordings_slice.each do |recording|
        .col-md-2
          .recording-thumbnail
            %a{href: show_vod_path(recording.user.username, recording.id), class: 'thumbnail'}
              = image_tag "https://codewatch-tv.s3-eu-west-1.amazonaws.com/recording-thumbnails/#{recording.name.gsub('.flv', '')}.png"
              .caption
                %h5= truncate(recording.title, length: 41)
                .text-right
                  %p
                    = "#{recording.created_at}"
