= render partial: 'shared/breadcrumbs', locals: {page_name: 'Forgot Password'}
.container.content
  .row
    .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'reg-page'}) do |f|
        .reg-header
          %h2 Forgot your password?
        .input-group.margin-bottom-20
          %span.input-group-addon
            %i.fa.fa-user
          = f.email_field :email, autofocus: true, placeholder: 'Email address', required: true, type: 'text', class: 'form-control'
        .row
          .col-md-12.margin-bottom-10
            = f.submit 'Send me reset password instructions', class: 'btn-u'
      %hr
        = render 'devise/shared/links'
