#channel-stats
  .row.margin-bottom-20
    .col-sm-6.sm-margin-bottom-20.total-viewers
      .service-block-v3.service-block-u
        %i.fa.fa-eye
        %span.service-heading Total Viewers
        %span.counter= total_viewers
    .col-sm-6.current-viewers
      .service-block-v3.service-block-u
        %i.fa.fa-user
        %span.service-heading Current Viewers
        %span.counter= current_viewers == 0 ? 1 : current_viewers
  .row
    .col-sm-6.sm-margin-bottom-20.likes
      .service-block-v3.service-block-red
        %i.fa.fa-heart
        %span.service-heading Likes
        %span.counter= likes
    .col-sm-6.vod
      .service-block-v3.service-block-yellow
        %i.fa.fa-youtube-play
        %span.service-heading Video on Demand
        %span.counter= vod_count
        = link_to list_vod_path(channel.user.username) do
          %span.vod-view-all.btn-u.btn-u-yellow View all
