#channel-stats
  .row
    - if PrivateSessionService.instance.is_not_participant?(private_session, current_user)
      #sign-up.col-sm-6.sm-margin-bottom-20
        = link_to private_session_payment_path(private_session.token), id: 'payment-button' do
          .service-block-v3.service-block-u
            %i.fa.fa-ticket
            %span.service-heading Sign Up
            %span.counter= private_session.price.to_i == 0 ? 'Free' : number_to_currency(private_session.price.to_f)
    - elsif private_session.max_participants.to_i > 0 && private_session.participants.count == private_session.max_participants.to_i
      #sign-up-sold-out.col-sm-6.sm-margin-bottom-20
        .service-block-v3.service-block-u
          %i.fa.fa-ticket
          %span.service-heading Sign Up
          %span.counter Sold Out :(
    - else
      #signed-up.col-sm-6.sm-margin-bottom-20
        .service-block-v3.service-block-u
          %i.fa.fa-ticket
          %span.service-heading Sign Up
          %span.counter Thank you!
    #sign-ups.col-sm-6.sm-margin-bottom-20
      .service-block-v3.service-block-yellow
        %i.fa.fa-users
        %span.service-heading Sign Ups
        - if private_session.max_participants.to_i > 0
          %span.counter= "#{private_session.participants.count}/#{private_session.max_participants}"
        - else
          %span.counter= private_session.participants.count
