-#%li{class: "#{classes}"}
-#  .easy-block-v1
-#    = image_tag "https://codewatch-tv.s3-eu-west-1.amazonaws.com/stream-thumbnails/#{channel.user.username}.png", class: 'img-responsive'
-#    .easy-block-v1-badge.rgba-purple= channel.category.name
-#  .block-grid-v2-info.rounded-bottom
-#    %h3
-#      %a{:href => "#"}= channel.title
-#    %p= channel.one_line_description.to_s
-#    %ul.list-inline.block-grid-v1-add-info
-#      %li
-#        %a{:href => "#"}
-#          %i.fa.fa-eye
-#          = channel.total_viewers
-#      %li
-#        %a{:href => "#"}
-#          %i.fa.fa-user
-#          = (channel.online? ? current_viewers(channel) : '0')
-#      %li
-#        %a{:href => "#"}
-#          %i.fa.fa-heart
-#          = channel.likes
%div{class: "cbp-item #{channel.user.username}"}
  .cbp-caption.margin-bottom-20
    .cbp-caption-defaultWrap
      = link_to image_tag("https://codewatch-tv.s3-eu-west-1.amazonaws.com/stream-thumbnails/#{channel.user.username}.png"), user_channel_path(channel.user.username)
    .cbp-title-dark
      .cbp-l-grid-agency-title= channel.title
      .cbp-l-grid-agency-desc= channel.one_line_description.to_s
    .text-right
      %ul.list-inline.block-grid-v1-add-info
        %li
          %a{:href => user_channel_path(channel.user.username)}
            %i.fa.fa-user
            = (channel.online? ? channel.current_viewers : '0')
