.panel.panel-profile
  .panel-heading.overflow-h
    %h2.panel-title.heading-sm.pull-left
      %i.fa.fa-comments-o
      Chat
  #chat-messages.panel-body.no-padding
  .panel-footer
    = form_tag("/chat/#{channel_id}/new_message",:id => 'new_message_form', :remote => true) do
      %input#channel_id{:type => "hidden", :value => "#{channel_id}"}
      .input-group
        - if current_user
          %input#chat-message.btn-input.form-control.input-sm{:placeholder => "Type your message here...", :type => "text", :name => "message"}/
          %span.input-group-btn
            %button#btn-chat.btn.btn-warning.btn-sm
              Send
        - else
          = link_to 'Log in', new_user_session_path
          or
          = link_to 'Register', new_user_registration_path
          to participate in the chat.
#new-message.hidden
  = render partial: 'channel/chat_message_template'
-#.panel.panel-default
-#  .panel-heading
-#    %span.glyphicon.glyphicon-comment
-#    .btn-group.pull-right
-#  .panel-body#chat-body
-#    %ul.chat
-#  .panel-footer
-#    = form_tag("/chat/#{channel_id}/new_message",:id => 'new_message_form', :remote => true) do
-#      %input#channel_id{:type => "hidden", :value => "#{channel_id}"}
-#      .input-group
-#        - if current_user
-#          %input#chat-message.btn-input.form-control.input-sm{:placeholder => "Type your message here...", :type => "text", :name => "message"}/
-#          %span.input-group-btn
-#            %button#btn-chat.btn.btn-warning.btn-sm
-#              Send
-#        - else
-#          = link_to 'Log in', new_user_session_path
-#          or
-#          = link_to 'Register', new_user_registration_path
-#          to participate in the chat.
-#
