.channel
  .row
    .col-md-8
      - if channel.online?
        #channel-online
          %h1.title= channel.title
          #stream-online
            = render partial: 'shared/stream', locals: {file: "/api/v1/smil/#{params[:username]}", type: 'rtmp'}
          .description= raw channel.description
      - else
        #channel-offline
          %h1.title= channel.title
          #stream-offline
            #stream-offline-content
          .description= raw channel.description
    .col-md-4
      %span.label.label-u.category-name= "Coding #{channel.category.name}"
      .channel-body
        = render partial: 'shared/channel_stats', locals: {total_viewers: channel.total_viewers, current_viewers: (channel.online? ? channel.current_viewers : '0'), likes: channel.total_likes, vod_count: channel.user.recordings.where(visible: 1).count}
        - if channel.online?
          %hr
            .row
              .col-sm-12
                #chat-online
                  #chat-alerts
                  = render 'shared/chat'
