#channel
  = render 'header'
  .row#channel-interactive
    .col-xs-12.col-sm-6.col-md-8
      = render partial: 'shared/stream', locals: {file: "/api/v1/smil/#{params[:username]}", type: 'rtmp'}
    .col-xs-6.col-md-4
      = render 'chat'
  .row
    .col-md-12
      %h3 Description
      .description= raw channel.description
