- unless @channels.empty?
  - slice_size = (@channels.size >= 5 ? @channels.size / 5 : @channels.size)
  - @channels.each_slice(slice_size).to_a.each do |channel_slice|
    .row
      - channel_slice.each do |channel|
        .col-md-2
          .channel-thumbnail
            %a{href: "/channel/#{channel.user.username}", class: 'thumbnail'}
              = image_tag "https://codewatch-tv.s3-eu-west-1.amazonaws.com/stream-thumbnails/#{channel.user.username}.png"
              .caption
                %h5= truncate(channel.title, length: 41)
                .text-right
                  %p
                    .fa.fa-user
                    = "#{channel.current_viewers}"
